* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
