@import "./scss_modules/rooms";
@import "./scss_modules/vmaps";
@import "./scss_modules/schedule";

.platform {
  align-items: flex-start;
  background: #f5f5fb;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
